<mat-sidenav-container>
	<mat-sidenav>menu</mat-sidenav>
	<mat-sidenav-content>
		<mat-toolbar color="primary">
			<code>Hacker News</code>
		</mat-toolbar>
		<app-news-list></app-news-list>
	</mat-sidenav-content>
</mat-sidenav-container>
